<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <span class="navbar-brand ms-sm-3  d-none d-md-block" data-placement="bottom">
                        MASTERCLASS CARS
                    </span>
                    <a class="navbar-brand ps-2 d-flex justify-content-between cursor-pointer align-items-center " routerLink="" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
                        <i class="material-icons opacity-6 me-1 text-md">home</i>
                        Home
                    </a>

                    <a class="navbar-brand ps-2 d-flex justify-content-between cursor-pointer align-items-center " routerLink="/admin" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" *ngIf="currentUser?.role == 'ADMIN'">
                        <i class="material-icons opacity-6 me-1 text-md">dashboard</i>
                        Dashboard
                    </a>
                    <a href="https://www.creative-tim.com/product/material-kit-pro#pricingCard" class="btn btn-sm  bg-gradient-primary  mb-0 ms-auto d-lg-none d-block">Buy Now</a>
                    <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon mt-2">
<span class="navbar-toggler-bar bar1"></span>
<span class="navbar-toggler-bar bar2"></span>
<span class="navbar-toggler-bar bar3"></span>
</span>
                    </button>
                    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto">


                            <li class="nav-item dropdown dropdown-hover mx-2">
                                <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons opacity-6 me-2 text-md">view_day</i>
                                    Sections
                                    <img src="assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
                                    <img src="assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1 d-lg-none d-block ms-auto">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
                                    <div class="d-none d-lg-block">
                                        <ul class="list-group">
                                            <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                                                    <div class="d-flex">
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/cour">Courses</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                                                    <div class="d-flex">
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/forum">Forum</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                                                    <div class="d-flex">
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="eventFront">Events</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                                                    <div class="d-flex">
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/offre">Job Offers</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                                                    <div class="d-flex">
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/mycandidacy">My Candidacy</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                                                    <div class="d-flex">
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/addC">Help Area</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                                                    <div class="d-flex">
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/Service">Service</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row d-lg-none">
                                        <div class="col-md-12">
                                            <div class="d-flex mb-2">
                                                <div class="w-100 d-flex align-items-center justify-content-between">
                                                    <div>
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Page Sections</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>



                            <li class="nav-item dropdown dropdown-hover mx-2" *ngIf="!currentUser?.userId">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                                   (click)="redirectTo()" routerLinkActive="active" >
                                    <i class="material-icons opacity-6 me-2 text-md">login</i>
                                    Sign in
                                </a>
                            </li>

                            <li class="nav-item dropdown dropdown-hover mx-2" *ngIf="currentUser?.userId">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                                   data-bs-toggle="modal" data-bs-target="#editProfileModal" >
                                    <i class="material-icons opacity-6 me-2 text-md">edit</i>
                                    Modifier profile
                                </a>
                            </li>
                            <li class="nav-item dropdown dropdown-hover mx-2" *ngIf="currentUser?.userId">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                                   routerLink="profil" >
                                    <img alt="Profil Picture" src="assets/img/{{profilPicture}}" class="avatar avatar-xs rounded-circle mx-2">
                                    {{currentUser.name}}
                                </a>
                            </li>

                            <li class="nav-item dropdown dropdown-hover mx-2" *ngIf="currentUser?.userId">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                                   (click)="logOut()" >
                                    <i class="material-icons opacity-6 me-2 text-md">logout</i>
                                    Sign out
                                </a>
                            </li>



                        </ul>

                    </div>
                </div>
            </nav>

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1 text-center py-4">
                            <h4 class="font-weight-bolder text-white mt-1">Modifier mon profil</h4>
                            <p class="mb-1 text-white text-sm">Modifier les renseignements sur votre compte</p>
                        </div>
                    </div>


                    <div class="card-body">
                        <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && editProfile()">
                            <div class="row justify-space-between text-center py-2">
                                <p class="text-sm font-weight-bold text-secondary text-border d-inline z-index-2 bg-white px-3">
                                    Informations personnelles
                                </p>
                            </div>

                            <div class="input-group input-group-static">
                                <label>Username</label>
                                <input type="Username" class="form-control" id="Username" name="Username" placeholder="Username" [(ngModel)]="currentUser.username" #name="ngModel" >
                            </div>
                            <div class="input-group input-group-static">
                                <label>Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="currentUser.email" #name="ngModel" >
                            </div>

                            <div class="input-group input-group-static">
                                <label>Date de naissance</label>
                                <input type="date" id="birthDate" class="form-control" name="birthDate" placeholder="Birth Date"  [(ngModel)]="currentUser.birthDate" #birthDate="ngModel" required>
                            </div>

                            <div class="input-group input-group-static">
                                <label>Numéro de téléphone</label>
                                <input type="phone" id="phone" name="phone" placeholder="Phone Number"  [(ngModel)]="currentUser.phoneNumber" #phone="ngModel" class="form-control" required>
                            </div>


                            <div class="input-group input-group-static">
                                <label>Picture</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Confirmer</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
