<div class="col-md-4">
    <!-- Modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouvelle Agence</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="input-group input-group-outline my-3">

                                <label class="form-label">Nom d'agence</label>
                            <input type="text" [(ngModel)]= "newAgence.nom" name="az" class="form-control">

                        </div>
                        <div class="input-group input-group-outline my-3">

                                <label class="form-label">Type d'agence</label>

                            <select class="form-control" name="name" [(ngModel)]="newAgence.typeagence"  #name="ngModel" id="choice-button" placeholder="Language" required>
                                <option value="normale" selected>normale</option>
                                <option value="franchise">franchise</option>
                            </select>
                                 </div>
                        <div class="input-group input-group-outline my-3">

                            <label class="form-label">Numéro de téléphone</label>

                            <input type="text" [(ngModel)]= "newAgence.numero" name="az" class="form-control">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" (click)="addAgence()" class="btn bg-gradient-primary">Ajouter agence</button>
                </div>
            </div>
        </div>
