<h1>Liste des agences</h1>
<div _ngcontent-tvm-c92 class="card">
    <div class="p-datatable-header ng-star-inserted"><div _ngcontent-fwi-c180="" class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header ng-star-inserted"> Agence <span _ngcontent-fwi-c180="" class="p-input-icon-left"><i _ngcontent-fwi-c180="" class="pi pi-search"></i><input _ngcontent-fwi-c180="" pinputtext="" type="text" placeholder="Global Search" class="p-inputtext p-component"></span></div><!--bindings={
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
    </div>
    <table>
        <thead >
        <tr _ngcontent-pdn-c180="" class="ng-star-inserted">
            <Th>id</Th>
            <th _ngcontent-cph-c180="" psortablecolumn="name" ng-reflect-field="name" tabindex="0" role="columnheader" aria-sort="none" class="p-sortable-column">
                <div _ngcontent-cph-c180="" class="p-d-flex p-jc-between p-ai-center"> </div>Numéro de téléphone</th>
            <th>   <div _ngcontent-mrk-c180="" class="p-d-flex p-jc-between p-ai-center"> Nom d'agence
            </div></th>
            <th _ngcontent-cph-c180="" psortablecolumn="name" ng-reflect-field="name" tabindex="0" role="columnheader" aria-sort="none" class="p-sortable-column">
                <div _ngcontent-cph-c180="" class="p-d-flex p-jc-between p-ai-center"> </div>Type d'agence</th>
            <th _ngcontent-cph-c180="" psortablecolumn="name" ng-reflect-field="name" tabindex="0" role="columnheader" aria-sort="none" class="p-sortable-column">
                <div _ngcontent-cph-c180="" class="p-d-flex p-jc-between p-ai-center"> </div>Supprimer</th>
            <th _ngcontent-cph-c180="" psortablecolumn="name" ng-reflect-field="name" tabindex="0" role="columnheader" aria-sort="none" class="p-sortable-column">
                <div _ngcontent-cph-c180="" class="p-d-flex p-jc-between p-ai-center"> </div>Modifier</th>
        </thead>
        <tbody class="p-datatable-tbody" *ngFor="let agence of listagence ">
        <tr>
            <td>{{agence.agenceId}}</td>
            <td _ngcontent-gbj-c180> {{ agence.phoneNumber }} </td>
            <td _ngcontent-gbj-c180>  {{ agence.nomagence }}</td>
            <td _ngcontent-gbj-c180>  {{ agence.typeagence }} </td>
            <td _ngcontent-gbj-c180><button (click)="deleteAgence(agence.agenceId.toString())"  pbutton="" pripple="" type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined p-mr-2 p-mb-2 p-ripple p-button p-component p-button-icon-only" ng-reflect-icon="pi pi-times">
                <span class="p-button-icon pi pi-times" aria-hidden="true"></span>
                <span aria-hidden="true" class="p-button-label">&amp;nbsp;</span>
                <span class="p-ink"></span></button></td>
            <td _ngcontent-gbj-c180><button [routerLink]="['/update-agence',agence.agenceId]" _ngcontent-gyv-c180="" pbutton="" type="button" icon="pi pi-cog" class="p-button-secondary p-button p-component p-button-icon-only" ng-reflect-icon="pi pi-cog">
                <span class="p-button-icon pi pi-cog" aria-hidden="true"></span>
                <span aria-hidden="true" class="p-button-label">&amp;nbsp;</span></button></td>
        </tr>
        </tbody>
    </table>
    <button [routerLink]="['/addA']" _ngcontent-afu-c112="" pbutton="" type="button" label="New" icon="pi pi-plus" ng-reflect-label="New" ng-reflect-icon="pi pi-plus" class="p-button p-component">
        <span class="p-button-icon p-button-icon-left pi pi-plus" aria-hidden="true"></span>
        <span  class="p-button-label" >Ajouter une agence !</span>
    </button>
    </div>
