<div class="container">
    <div>
        <h2>Modifier une agence :</h2>
    </div>

    <form >
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label >Agence ID</label>
            <input readonly type="text" [(ngModel)]="post1.agenceId" name="complaintId" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >nom d'agence</label>
            <input type="text"[(ngModel)]= "post1.nomagence" name="nomProduit" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Type d'agence</label>
            <input type="text" [(ngModel)]= "post1.typeagence" name="complaintTitle" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Numéro de téléphone</label>
            <input type="text" [(ngModel)]= "post1.phoneNumber" name="complaintTitle" class="form-control">
        </div>

        <div class="mt-2">
            <button type="submit"  class="btn btn-success">Modifier</button>

        </div>
    </form>
</div>
